<h1>Sign up!</h1>
<div><form action="<%=users_url%>" method="POST">
    <label>username
        <input type="text" name="user[username]" value="<%=@user.username%>"/>
    </label>
    <label>password
        <input type="password" name="user[password]" value=""/>
    </label>
    <input type="submit" value="sign up">
</form></div>